{% extends 'emp_dep/base.html' %}

{% block content %}
    <div id="app">
        <div class="row">
            <div class="col-6">
                <form id="addEmpForm">
                    <label for="fname">Name:</label><br>
                    <input type="text" id="fname" name="fname"><br>
                    <label for="age">Age:</label><br>
                    <input type="text" id="age" name="age">
                    <div>
                        <select id="depdrop" name="depdrop" id="depdrop" multiple>
                            <option v-for="(department) in departments" v-bind:value="department.id">[[ department.name ]]</option>
                        </select>
                    </div>
                  </form>
                  <button type="button" form="addEmpForm" value="Submit" v-on:click="addEmployee">Add Employee</button>
            </div>
            <div class="col-6">
                <form id="addDepForm">
                    <label for="name">Name:</label><br>
                    <input type="text" id="name" name="name"><br>
                    <label for="salary">Salary:</label><br>
                    <input type="text" id="salary" name="salary">
                    <div>
                        <select id="empdrop" name="empdrop" id="empdrop" multiple>
                            <option v-for="(employee) in employees" v-bind:value="employee.id">[[ employee.name ]]</option>
                        </select>
                    </div>
                  </form>
                  <button type="button" form="addDepForm" value="Submit" v-on:click="addDepartment">Add Department</button>
            </div>
        </div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
        

        {% csrf_token %}
        
        <h1>Employees</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Join Date</th>
                    <th scope="col">Age</th>
                    <th scope="col">Departments</th>
                    <th width="100" scope="col">Delete</th>
                    <th width="100" scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(employee, index) in employees">
                    <th scope="row">
                        [[ index ]]
                    </th>
                    <td>
                            [[ employee.name ]]          
                    </td>
                    <td>[[ employee.join_date ]]</td>
                    <td>[[ employee.age ]]</td>
                    <td>[[ employee.departments ]]</td>
                    <td>
                        <button @click="deleteEmployee(employee)" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" v-bind:data-bs-whatever="employee.id" v-on:click="updateEditingObject" name="employee">
                        Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- second table -->

        <h1>Departments</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Employees</th>
                    <th width="100" scope="col">Delete</th>
                    <th width="100" scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(department, index) in departments">
                    <th scope="row">
                        [[ index ]]
                    </th>
                    <td>
                            [[ department.name ]]          
                    </td>
                    <td>[[ department.salary ]]</td>
                    <td>[[ department.employees ]]</td>
                    <td>
                        <button @click="deleteDepartment(department)" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" v-bind:data-bs-whatever="department.id" v-on:click="updateEditingObject" name="department">
                        Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
<script>
    let myApp = Vue.createApp({
        delimiters: ["[[", "]]"],
        data() {
            return {
                employees: [],
                departments: [],
                editingObject: null,
            }
        },
        async created() {
            let response = await fetch("{% url 'employees api' %}");
            if (response.ok) {
                let data = await response.json();
                this.employees = data.employees;
            }
            else {
                alert("Failed to load list of employees");
            }
            let response2 = await fetch("{% url 'departments api' %}");
            if (response2.ok) {
                let data = await response2.json();
                this.departments = data.departments;
            }
            else {
                alert("Failed to load list of departments");
            }
        },
        methods: {
            async refreshTables(){
                let response = await fetch("{% url 'employees api' %}");
            if (response.ok) {
                let data = await response.json();
                this.employees = data.employees;
            }
            else {
                alert("Failed to load list of employees");
            }
            let response2 = await fetch("{% url 'departments api' %}");
            if (response2.ok) {
                let data = await response2.json();
                this.departments = data.departments;
            }
            else {
                alert("Failed to load list of departments");
            }
            },
            
            async addEmployee(){
                var nameValue = document.getElementById("fname").value;
                var ageValue = document.getElementById("age").value;
                
                var selected = [];
                for (var option of document.getElementById('depdrop').options)
                {  
                    if (option.selected) {
                    selected.push(option.value);
                    }
                }

                var obj = {name: nameValue, age: ageValue, departments: selected};
                let response = await fetch("{% url 'employees api'%}",{method:"POST", body: JSON.stringify(obj),
                headers: {
                            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
                        }});
                if (response.ok) {
                    this.refreshTables();
                }
                else{
                    alert("Failed to add employee");
                }
            },

            async deleteEmployee(employee) {
                // add ajax request to delete that country
                if (confirm(`Are you sure you want to delete ${employee.name}?`)) {
                    let response = await fetch(employee.api, {
                        method: "DELETE",
                        headers: {
                            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
                        }
                    });
                    if (response.ok) {
                        this.refreshTables();
                    }
                    else {
                        alert("Failed to delete country");
                    }
                }
            },

            async addDepartment(){
                var nameValue = document.getElementById("name").value;
                var salaryValue = document.getElementById("salary").value;
                
                var selected = [];
                for (var option of document.getElementById('empdrop').options)
                {  
                    if (option.selected) {
                    selected.push(option.value);
                    }
                }

                var obj = {name: nameValue, salary: salaryValue, employees: selected};
                let response = await fetch("{% url 'departments api'%}",{method:"POST", body: JSON.stringify(obj),
                headers: {
                            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
                        }});
                if (response.ok) {
                    this.refreshTables();
                }
                else{
                    alert("Failed to add department");
                }
            },

            async deleteDepartment(department) {
                // add ajax request to delete that country
                if (confirm(`Are you sure you want to delete ${department.name}?`)) {
                    let response = await fetch(department.api, {
                        method: "DELETE",
                        headers: {
                            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
                        }
                    });
                    if (response.ok) {
                        this.refreshTables();
                    }
                    else {
                        alert("Failed to delete department");
                    }
                }
            },

            updateEditingObject: function(event){
                var clicked_objectID = event.target.getAttribute('data-bs-whatever');
                var clicked_objectType = event.target.getAttribute('name');
                
                if (clicked_objectType=="employee"){
                    for(var i=0;i<this.employees.length;i++){
                        if(this.employees[i].id==clicked_objectID){
                            this.editingObject=this.employees[i];
                        }
                    }
                }

                alert(this.editingObject.name);
            },
        }
    })
    
    myApp.mount('#app')
</script>
{% endblock %}